<li>
  {{rentalInComponent.owner}}'s {{rentalInComponent.type}} in {{rentalInComponent.city}}
  {{#if isImageShowing}}
    <p><img src={{rentalInComponent.image}} alt={{rentalInComponent.type}} {{action 'imageHide'}}></p>
  {{else}}
    <button {{action 'imageShow'}}>Image</button>
    {{/if}}
    {{update-rental rental=rentalInComponent update='update'}}
    <button {{action 'delete' rentalInComponent}}>Delete</button>
</li>
